<div class="w-full">
	<div class="grid sm:grid-cols-2 gap-8 w-full mb-6">
		<div class="w-full col-span-1">
			<div class="text-3xl font-bold">Propiedades</div>
			<div class="text-secondary">Una lista de propiedades registradas en el sistema</div>
		</div>
		<div class="w-full col-span-1">
			<!-- <div class='text-right'>
				<button [routerLink]="'/usuarios/crear'" class="rounded mr-1 px-3 bg-primary-300 text-on-primary-300" mat-stroked-button>Crear Usuario</button>
			</div> -->
		</div>
		<div class="w-full col-span-1">
			<!-- Success -->
			<fuse-alert *ngIf="m" [type]="'success'">
				<span fuseAlertTitle>Exito</span>
				La propiedad ha sido
				<span *ngIf="m==='1'">creado</span>
				<span *ngIf="m==='2'">actualizado</span>
				exitosamente
			</fuse-alert>
		</div>
	</div>
	<div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
		<!-- Section -->
		<div class="grid grid-cols-12">
			<div class="col-span-3">
				<div class="text-lg font-medium tracking-tight leading-6 truncate">Detalles de la propiedad</div>
			</div>
			<div class="col-span-9">
				<!-- [formGroup]="seachFormGroup" -->
				<div class="flex gap-3 justify-end">
					<div class="w-2/5">
						<mat-form-field class="w-full">
							<mat-label>Buscar Propiedad</mat-label>
							<input type="text" matInput>
						</mat-form-field>
					</div>
					<div class="w-1/5">
						<div class="flex mt-7 gap-1">
							<!-- (click)="filterUsers()" -->
							<button class="rounded w-full p-0 bg-primary-300 text-on-primary-300" mat-stroked-button>Buscar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col flex-auto mt-2 overflow-x-auto">
				<table
						class="min-w-240 overflow-y-visible"
						mat-table
						[dataSource]="dataSource">

				<!-- id -->
				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef>ID</th>
					<td mat-cell *matCellDef="let user">
						<span class="font-medium">
							{{user.id}}
						</span>
					</td>
				</ng-container>

				<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef>Descripción</th>
 					<td mat-cell *matCellDef="let property" class="px-4" [matTooltip]="property.description" [matTooltipPosition]="'left'">
						<span class="font-medium">
							{{property.description | excerpt:100}}
						</span>
					</td>
				</ng-container>

				<ng-container matColumnDef="address">
					<th mat-header-cell *matHeaderCellDef>Direccion</th>
					<td mat-cell *matCellDef="let property" class="px-4">
						<span class="font-medium">
							{{property.address}}
						</span>
					</td>
				</ng-container>

				<ng-container matColumnDef="location_type">
					<th mat-header-cell *matHeaderCellDef>Localidad</th>
					<td mat-cell *matCellDef="let property" class="px-4">
						<span class="font-medium">
							{{property.location_type || '-'}}
						</span>
					</td>
				</ng-container>

				<ng-container matColumnDef="price">
					<th mat-header-cell *matHeaderCellDef>Precio</th>
					<td mat-cell *matCellDef="let property" class="px-4">
						<span class="font-medium">
							{{property.price || '-'}}
						</span>
					</td>
				</ng-container>

				<ng-container matColumnDef="published_at">
					<th mat-header-cell *matHeaderCellDef>Fecha publicado</th>
					<td mat-cell *matCellDef="let property" class="px-4">
						<span class="font-medium">
							{{property.published_at || '-'}}
						</span>
					</td>
				</ng-container>

				<!-- Acciones -->
				<ng-container matColumnDef="acciones">
					<th mat-header-cell *matHeaderCellDef>Acciones</th>
					<td mat-cell *matCellDef="let property">
						<div class="flex gap-2">
							<div class="1/2">
									<mat-icon class="text-on-primary-300">edit</mat-icon>
							</div>
							<div class="1/2">
									<mat-icon (click)="newTab('propiedad/'+property.id)" class="text-on-primary-300">visibility</mat-icon>
							</div>
						</div>
					</td>
				</ng-container>

					<tr mat-header-row *matHeaderRowDef="columns"></tr>
					<tr class="cursor-pointer" mat-row *matRowDef="let row; columns: columns;"></tr>
				</table>
				<mat-paginator [length]="propertiesPaginated?.total"
						[pageSize]="propertiesPaginated?.per_page"
						[pageSizeOptions]="[10, 25, 100]"
						(page)="paginate($event)"
						aria-label="Select page">
				</mat-paginator>
		</div>
	</div>
</div>
