<div class="w-full max-w-3xl m-auto">
			<!-- Form -->
			<form>
					<!-- Section -->
					<div class="grid sm:grid-cols-2 gap-8 w-full mb-8">
						<div class="w-full col-span-1">
								<div class="text-3xl font-bold">Crear Alumno</div>
								<div class="text-secondary">Ingresa la informacion para crear un alumno</div>
						</div>
						<div class="w-full col-span-1" [formGroup]="studentForm">
						</div>
						<div class="col-span-1 relative">
							<div class="absolute -translate-y-2/4 top-2/4 left-0 right-0">
								<fuse-alert
											*ngIf="showAlert"
											[appearance]="'outline'"
											[showIcon]="false"
											[type]="alert.type"
											[@shake]="alert.type === 'error'">
											{{alert.message}}
								</fuse-alert>
							</div>
						</div>
					</div>
					<div [formGroup]="studentForm" class="grid sm:grid-cols-2 gap-y-1 gap-x-5 w-full mt-8">
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Nombres</mat-label>
								<input id='name' type="text" formControlName="name" matInput>
								<mat-error
								*ngIf="studentForm.get('name').hasError('required')"
								>Este campo es obligatorio</mat-error>
								<mat-error
								*ngIf="studentForm.get('name').hasError('name')"
								>Este campo es obligatorio</mat-error>
								<mat-error *ngFor="let i of _globalService.errorsLength(studentForm.get('name'))">
									<ng-container *ngIf="studentForm.get('code').hasError(i)">
										{{studentForm.get('name').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Apellidos</mat-label>
								<input id='last_name' type="text" formControlName="last_name" matInput>
								<mat-error
								*ngIf="studentForm.get('last_name').hasError('required')"
								>Este campo es obligatorio</mat-error>
								<mat-error
								*ngIf="studentForm.get('last_name').hasError('last_name')"
								>Este campo es obligatorio</mat-error>
								<mat-error *ngFor="let i of _globalService.errorsLength(studentForm.get('last_name'))">
									<ng-container *ngIf="studentForm.get('code').hasError(i)">
										{{studentForm.get('last_name').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>

						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Representante</mat-label>
								<input id='representative_name' type="text" formControlName="representative_name" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(studentForm.get('representative_name'))">
									<ng-container *ngIf="studentForm.get('representative_name').hasError(i)">
										{{studentForm.get('representative_name').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Telefono representante</mat-label>
								<input id='representative_phone' type="text" formControlName="representative_phone" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(studentForm.get('representative_phone'))">
									<ng-container *ngIf="studentForm.get('representative_phone').hasError(i)">
										{{studentForm.get('representative_phone').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-2">
							<mat-form-field class="w-full">
								<mat-label>Grado</mat-label>
								<mat-select formControlName="level_id">
									<mat-option [value]="level.id" *ngFor="let level of levels">{{level.name}}</mat-option>
								</mat-select>
								<mat-error *ngFor="let i of _globalService.errorsLength(studentForm.get('level_id'))">
									<ng-container *ngIf="studentForm.get('level_id').hasError(i)">
										{{studentForm.get('level_id').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<!-- Divider -->
					<div class="mt-11 mb-10 border-t"></div>
					<!-- Actions -->
					<div class="flex items-center justify-end">
							<button
									class="ml-4"
									mat-flat-button
									type="button"
									(click)="this.studentID ? updateStudent() : createStudent()"
									[color]="'primary'">Guardar
							</button>
					</div>
			</form>

</div>
