<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
	<div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
			<div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
					<!-- Logo -->
					<div class="w-12">
							<!-- <img src="assets/images/logo/logo.svg"> -->
					</div>

					<!-- Title -->
					<div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Login</div>
					<!-- <div class="flex items-baseline mt-0.5 font-medium">
							<div>Don't have an account?</div>
							<a
									class="ml-1 text-primary-500 hover:underline"
									[routerLink]="['/sign-up']">Sign up
							</a>
					</div> -->

					<!-- Alert -->
					<fuse-alert
							class="mt-8 -mb-4"
							*ngIf="showAlert"
							[appearance]="'outline'"
							[showIcon]="false"
							[type]="alert.type"
							[@shake]="alert.type === 'error'">
							{{alert.message}}
					</fuse-alert>

					<!-- Sign in form -->
					<form
							class="mt-8"
							[formGroup]="signInForm"
							#signInNgForm="ngForm">

							<!-- Email field -->
							<mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input
                    id="email"
                    matInput
                    [formControlName]="'email'">
                <mat-error *ngIf="signInForm.get('email').hasError('required')" id='email-error-required-msg'>Este campo es obligatorio</mat-error>
                <mat-error *ngFor="let i of _globalService.errorsLength(this.signInForm.get('email'))">
                  <ng-container *ngIf="this.signInForm.get('email').hasError(i)">
                    {{this.signInForm.get('email').errors[i]}}
                  </ng-container>
                </mat-error>
              </mat-form-field>

							<!-- Password field -->
							<mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input
                    id="password"
                    matInput
                    type="password"
                    [formControlName]="'password'"
                    #passwordField>
                <button
                    mat-icon-button
                    type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error *ngIf="signInForm.get('password').hasError('required')" id='password-error-required-msg'>La contraseña es obligatoria</mat-error>
                <mat-error *ngFor="let i of _globalService.errorsLength(this.signInForm.get('password'))">
                  <ng-container *ngIf="this.signInForm.get('password').hasError(i)">
                    {{this.signInForm.get('password').errors[i]}}
                  </ng-container>
                </mat-error>
            </mat-form-field>

							<!-- Actions -->
							<div class="inline-flex items-end justify-between w-full mt-1.5">
									<mat-checkbox
											[color]="'primary'"
											[formControlName]="'rememberMe'">
											Recuerdame
									</mat-checkbox>
									<a
											class="text-md font-medium text-primary-500 hover:underline"
											[routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?
									</a>
							</div>

							<!-- Submit button -->
                <button
                    id='submit'
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Ingresar
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>


					</form>
			</div>
	</div>
</div>
