<div class="w-full">
	<div class="grid sm:grid-cols-2 gap-8 w-full mb-6">
		<div class="w-full col-span-1">
			<div class="text-3xl font-bold">Usuarios</div>
			<div class="text-secondary">Una lista de usuarios registradas en el sistema</div>
		</div>
		<div class="w-full col-span-1">
			<div class='text-right'>
				<button [routerLink]="'/usuarios/crear'" class="rounded mr-1 px-3 bg-primary-300 text-on-primary-300" mat-stroked-button>Crear Usuario</button>
			</div>
		</div>
		<div class="w-full col-span-1">
			<!-- Success -->
			<fuse-alert *ngIf="m" [type]="'success'">
				<span fuseAlertTitle>Exito</span>
				El usuario ha sido
				<span *ngIf="m==='1'">creado</span>
				<span *ngIf="m==='2'">actualizado</span>
				exitosamente
			</fuse-alert>
		</div>
	</div>
	<div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
		<!-- Section -->
		<div class="grid grid-cols-12">
			<div class="col-span-3">
				<div class="text-lg font-medium tracking-tight leading-6 truncate">Detalles de usuario</div>
			</div>
			<div class="col-span-9">
				<div class="flex gap-3 justify-end" [formGroup]="seachFormGroup">
					<div class="w-2/5">
						<mat-form-field class="w-full">
							<mat-label>Buscar Usuario</mat-label>
							<input type="text" matInput>
						</mat-form-field>
					</div>
					<div class="w-1/5">
						<div class="flex mt-7 gap-1">
							<button (click)="filterUsers()" class="rounded w-full p-0 bg-primary-300 text-on-primary-300" mat-stroked-button>Buscar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col flex-auto mt-2 overflow-x-auto">
				<table
						class="min-w-240 overflow-y-visible"
						mat-table
						[dataSource]="dataSource">

						<!-- id -->
						<ng-container matColumnDef="id">
							<th mat-header-cell *matHeaderCellDef>ID</th>
							<td mat-cell *matCellDef="let user">
								<span class="font-medium">
									{{user.id}}
								</span>
							</td>
						</ng-container>


						<ng-container matColumnDef="nombres">
							<th mat-header-cell *matHeaderCellDef>Nombres y apellidos</th>
							<td mat-cell *matCellDef="let user">
								<span class="font-medium">
									{{user.full_name}}
								</span>
							</td>
						</ng-container>


						<ng-container matColumnDef="email">
							<th mat-header-cell *matHeaderCellDef>Nombres y apellidos</th>
							<td mat-cell *matCellDef="let user">
								<span class="font-medium">
									{{user.email}}
								</span>
							</td>
						</ng-container>


						<ng-container matColumnDef="role">
							<th mat-header-cell *matHeaderCellDef>Rol</th>
							<td mat-cell *matCellDef="let user">
								<span class="font-medium">
									{{user.role?.name || '-'}}
								</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="broker_phone">
							<th mat-header-cell *matHeaderCellDef>Telefono Corredora</th>
							<td mat-cell *matCellDef="let user">
								<span class="font-medium">
									{{user.broker_phone || '-'}}
								</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="broker_address">
							<th mat-header-cell *matHeaderCellDef>Direccion Corredora</th>
							<td mat-cell *matCellDef="let user">
								<span class="font-medium">
									{{user.broker_address || '-'}}
								</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef>Status Registro</th>
							<td mat-cell *matCellDef="let user" class="px-5">
								<span class="font-medium">
									<div class="text-orange-600 font-semibold" *ngIf="!user.email_verified_at">Pendiente</div>
									<div class="text-green-600 font-semibold" *ngIf="user.email_verified_at">Completado</div>
								</span>
							</td>
						</ng-container>


				<!-- Acciones -->
				<ng-container matColumnDef="acciones">
					<th mat-header-cell *matHeaderCellDef>Acciones</th>
					<td mat-cell *matCellDef="let user">
						<div class="flex gap-2">
							<div class="1/2">
								<button (click)="goToUser(user.id)" class="rounded bg-primary-300 text-on-primary-300" mat-stroked-button>Editar</button>
							</div>
							<div *ngIf='!user.email_verified_at' class="1/2">
								<button (click)="resendSignUpEmail(user.id)" class="rounded bg-primary-300 text-on-primary-300" mat-stroked-button>Reenviar Correo</button>
							</div>
						</div>
					</td>
			</ng-container>

					<tr mat-header-row *matHeaderRowDef="columns"></tr>
					<tr class="cursor-pointer" mat-row *matRowDef="let row; columns: columns;"></tr>
				</table>
				<mat-paginator [length]="usersPaginated?.total"
						[pageSize]="usersPaginated?.per_page"
						[pageSizeOptions]="[10, 25, 100]"
						(page)="paginate($event)"
						aria-label="Select page">
				</mat-paginator>
		</div>
	</div>
</div>
